# Redis Configuration
REDIS_URL=redis://localhost:6379
REDIS_PASSWORD=snmpcache

# SNMP Proxy Configuration
SNMP_LISTEN_ADDRESS=0.0.0.0
CACHE_DEFAULT_FRESHNESS_SECONDS=120
CONFIG_DIR=./config

# Sniffer Configuration
LISTEN_PORTS=21001,21002,21003,21004,21005
